{% extends "base-external.html" %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row center">
                <object class id="front-page-logo" type="image/svg+xml" data="../static/images/flixr.svg">Your browser does not support SVG</object>
            </div>
            <div class="row center">
                <h5 class="header col s12 light">All your favourite movies, all in one place!</h5>
            </div>
            <div class="row center">
                <a href="/register" id="signup-button" class="btn-large waves-effect waves-light">Get Started</a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="white-text" href="#">James Bream</a>
            </div>
        </div>
    </footer>

{% endblock %}