{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <div class="postergrad">
                        <img class="poster" src="../static/images/poster.jpg">
                    </div>
                    <span class="card-title">28 Days Later and one two three four five can it really be much longer than this?</span>
                </div>
                <div class="card-content">
                    <p class="truncate">Lorem ipsum one two three four five sis seven eight nine ten eleven truncate this</p>
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#modal1">This is a link</a>
                </div>
            </div>
        </div>
        
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../static/images/poster.jpg">
                    <span class="card-title">28 Days Later</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../static/images/poster.jpg">
                    <span class="card-title">28 Days Later</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../static/images/poster.jpg">
                    <span class="card-title">28 Days Later</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../static/images/poster.jpg">
                    <span class="card-title">28 Days Later</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        
        <div class="col s12 m4 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="../static/images/poster.jpg">
                    <span class="card-title">28 Days Later</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <a class="waves-effect waves-light btn-large"><i class="large material-icons right">replay</i>Load more</a>

        </div>
          <!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

    </div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Movie title</h4>
        <div class="row">
            <div class="col s12">
                <table>
                    <tbody>
                      <tr>
                        <td>Overview</td>
                        <td>We hope you have enjoyed using Materialize! If you feel Materialize has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</td>
                      </tr>
                      <tr>
                        <td>Rating</td>
                        <td>4.7</td>
                      </tr>
                      <tr>
                        <td>Release date</td>
                        <td>2001-01-01</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action waves-effect waves-light btn">Bookmark</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
{% endblock %}